<launch>
<!--
  <include file="$(find rotors_gazebo)/launch/mav_hovering_example_with_vi_sensor.launch">
    <arg name="mav_name" value="iris"/>
    <arg name="world_name" value="basic"/>
  </include> 

  <include file="$(find scan_plan)/launch/octomap.launch"/> -->

  <node name="scan_plan_node" pkg="scan_plan" type="scan_plan_node" output="screen">
    <remap from="/scan_plan_node/octomap_in" to="/octomap_binary"/>
  </node>

</launch>
