<launch>

	<arg name="mav_name" default="$(env ROS_NAMESPACE)" /> 

	<!-- ...................... Global Planner .................... -->

  <node name="scan_plan_node" pkg="scan_plan" type="scan_plan_node" output="screen">
    <remap from="~/octomap_in" to="/H01/merged_map"/>
    <remap from="~/pose_hist_in" to="/H01/lio_sam/mapping/path"/>

    <rosparam command="load" file="$(find scan_plan)/launch/bags/params_husky_bag.yaml" subst_value="true"/>
  </node>

	<!-- ...................... Base to Base Plan Link Transform ....................... -->

  <!-- node pkg="tf2_ros" type="static_transform_publisher" name="baseplan2base" args="0 0 1.0 0 0 0 H01/base_link H01/base_plan_link"/ -->
</launch>
